<header>
<nav class="top-bar" data-topbar>
    <ul class="title-area">

      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            Watershed App
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><a href="/">Home</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
        <a>Services</a>
          <ul class="dropdown">
              <li><a href="/map">Map</a></li>
              <li><a href="/enter">Enter Data</a></li>
              <li><a href="/data">View Data</a></li>
              <!-- <li><a href="/environmental">Environmental</a></li> -->
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="/contact">Contact</a></li>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
</header>